---
layout: default
title: Home
---


<div class="ask-question">
  <!-- <div class="reply-to"> (TODO) -->
  <!--   Pulsa <i class="fa fa-reply" aria-hidden="true"></i> para continuar una pregunta -->
  <!-- </div> -->
  <form class="question-form" method="post" action="https://api.staticman.net/v2/entry/{{ site.github.repository_nwo }}/{{ site.github.source.branch }}/posts">
    <input name="options[redirect]" type="hidden" value="{{ site.success_path | absolute_url }}">

    <fieldset class="hidden">
      <input id="posts[address]" name="fields[address]" type="text">
    </fieldset>

    <fieldset>
      <div>
        <textarea name="fields[title]" id="posts[title]" rows="4" placeholder="Ask a question! Your question will be public in GitHub before it is answered"></textarea>
      </div>
    </fieldset>
    <fieldset class="send">
      <input class="send-button" type="submit" value="Send question">
    </fieldset>
  </form>
</div>

{% assign len = site.posts | size %}
{% if len == 0 %}
<div class="empty posts">
  No questions yet. Ask {{ site.author.name }} something!
</div>
{% else %}
<div class="posts">
  
  {% for post in paginator.posts %}
  <article class="post">
    <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text"
          property="dct:title" rel="dct:type" class="question">{{ post.title | escape | markdownify }}</span>

    <a class="date" href="{{ post.url | relative_url }}">
      <time datetime="{{ post.date }}" pubdate>
        {{ post.date | date: "%d %b %Y" }}
      </time>
    </a>

    <div class="answer">
      {{ post.content }}
    </div>
  </article>
  {% endfor %}
  
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
{% endif %}
