---
layout: default
title: Home
---

{% include question.html %}

{% assign len = site.posts | size %}
{% if len == 0 %}
<div class="empty posts">
  No questions yet. Ask {{ site.author.name }} something!
</div>
{% else %}
<div class="posts">
  {% for post in paginator.posts %}
  {% include post.html p=post %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
{% endif %}
