<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!--Canonical URL (for https)-->
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if page.title != "Home" %}{{ page.title }}{% else %}Ask {{ site.author.name }}{% endif %}</title>

  {% if site.author.twitter %}
  <!--Twitter-->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:creator" content="@{{ site.author.twitter }}"/>
  <meta name="twitter:site" content="@{{ site.author.twitter }}" />
  {% endif %}
  
  <!--Metadata-->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:url" content="{{ page.url | absolute_url }}"/>
  <meta property="og:title" content="{% if page.title == "Home" %}{{ site.title }}{% else %}{{ page.title }}{% endif %}"/>
  <meta property="og:image" content="{{ site.author.avatar }}"/>
  <meta property="og:description" content="{% if page.title != "Home" %}{{ page.content | strip_html | truncate:100 }}{% else %}{{ site.title }}{% endif %}"/>
  <meta name="description" content="{% if page.title != "Home" %}{{ page.title | strip_html | truncate:100 }} - {{ page.content | strip_html | truncate:100 }}{% else %}{{ site.title }}{% endif %}"/>
  
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.author.avatar }}">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/atom.xml">
</head>
