---
---

$accenthue: 180;
$accentsat: 30%;
{% if site.custom.accent %}
$accenthue: hue({{ site.custom.accent }});
$accentsat: saturation({{ site.custom.accent }});
{% endif %}
// #30353a
$accent: hsl($accenthue, $accentsat, 25%);
$bordercolor: hsl($accenthue, 30%, 70%);

body {
    font-family: Roboto, Open Sans, Liberation Sans, Tahoma, Helvetica, sans-serif;
    background: lighten($bordercolor, 26%); 
}

.content {
    max-width: 36rem;
    margin: 0 auto;

    header {
        margin-top: 1rem;
        padding: 1rem 0 2rem;

        .icon {
            width: 4rem;
            height: 4rem;
            background-image: url({{ site.author.avatar }});
            background-size: cover;
            border-radius: 4rem;
            display: inline-block;
            vertical-align: middle;
        }

        .title {
            display: inline-block;
            vertical-align: middle;
            margin-left: 1rem;
            font-size: 2rem;

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    .posts {
        &.empty {
            margin-top: 2rem;
            text-align: center;
            color: #555;
        }
    }
    .post {
        padding: 1rem 2rem;
        border: 1px solid $bordercolor;
        margin-bottom: -1px;
        background: #fff;

        
        &.threaded {
            margin-left: 4rem;
        }
        
        .question {
            font-weight: bold;

            p {
                margin-bottom: 0;
            }
        }

        .date, .followup {
            font-size: smaller;
            color: gray;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
        }

        .date {
            text-align: right;
        }

        .answer {
            a {
                color: $accent;

                &:visited {
                    color: darken($accent, 10%);
                }
            }
        }
    }

    .ask-question {
        background: rgba(255,255,255,.5);

        .question-form {
            fieldset {
                border: 0px solid;
                padding: 0;

                &.send {
                    margin-top: 0.5rem;
                    text-align: right;

                    .send-button {
                        background: $bordercolor;
                        padding: 0.5rem 1rem;
                        font-size: 1rem;
                        cursor: pointer;
                        border-width: 0;
                    }
                }
            }

            textarea {
                width: 100%;
                padding: 0.5rem 1rem;
                box-sizing: border-box;
                min-height: 4rem;
            }
        }
    }

    .pagination {
        margin: 1rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;

        a, span {
            border: 1px solid $bordercolor;
            padding: 0.5rem 1rem;
            font-size: 0.95rem;
            text-decoration: none;
            text-align: center;
            background: #fff;

            &:last-child {
                border-left-width: 0;
            }
        }

        span {
            color: gray;
            cursor: default;
        }
    }

    footer {
        margin-top: 2rem;
        color: #808080;
        font-size: 0.95rem;

        a {
            color: inherit;
        }   
    }
}

.hidden {
    display: none;
}
